# Node modules
node_modules

# Environment variables
.env

# Logs
*.log
logs
error.log
debug.log

# Operating system files
.DS_Store
Thumbs.db

# IDE or editor specific files
.vscode/
.idea/
*.swp

# Build files
dist/
build/

# Temporary files
tmp/
temp/
*.tmp

# Test coverage output
coverage/

# Dependency directories for package managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Process ID files
pids/
*.pid
*.seed
*.pid.lock

# Output of npm scripts
.nyc_output/